<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        {% for user in users %}
            <h3>{{ user.pseudo }}</h3>
            <div>
                {{ user.firstname }} {{ user.lastname }} ({{ user.email }})
            </div>
            <div>
                Website : {{ user.website }}
            </div>
        {% endfor %}
    </body>
</html>
