<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        {% for user in users %}
            <h3>{{ user.username }}</h3>
            <div>
                Fistname : {{ user.firstname }}
            </div>
            <div>
                Lastname : {{ user.lastname }}
            </div>
            <div>
                Email : {{ user.email }}
            </div>
            <div>
                Username : {{ user.username }}
            </div>
            <div>
                Website : {{ user.website }}
            </div>
        {% endfor %}
    </body>
</html>
