<html>
    <head>
        <title>User {{ user.username }}</title>
    </head>
    <body>
        <h1>{{ user.username }}</h1>
        <div>
            Fistname : {{ user.firstname }}
        </div>
        <div>
            Lastname : {{ user.lastname }}
        </div>
        <div>
            Email : {{ user.email }}
        </div>
        <div>
            Username : {{ user.username }}
        </div>
        <div>
            Website : {{ user.website }}
        </div>
    </body>
</html>
