<html>
    <head>
        <title>User {{ user.username }}</title>
    </head>
    <body>
        <h1>{{ user.username }}</h1>
        <div>
            {{ user.firstname }} {{ user.lastname }} ({{ user.email }})
        </div>
        <div>
            Website : {{ user.website }}
        </div>
    </body>
</html>
