{% extends 'layout/base_layout.html.twig' %}
{% set page = 'admin' %}

{% block stylesheets %}{% endblock %}

{% block core %}

    <h1 style="margin-top: 60px">ADMIN CONSOLE</h1>
    <p>NOT VALIDATED : </p>
    <form name="admin-place-not-validated" method="post" action="admin/save">
        {% for line in data.nonvalidated %}
            <div class="admin-line">
                {{ line.name }}
                {{ line.latitude }}
                {{ line.longitude }}
                {{ line.address }}
                {{ line.town }}
                {{ line.country }}
                {{ line.description }}
                {{ line.website }}
                <input type="radio" name="{{ line.id }}" value="validate">Create
                <input type="radio" name="{{ line.id }}" checked="checked" value="nothing">Do nothing
                <input type="radio" name="{{ line.id }}" value="delete">Delete
            </div>
        {% else %}
            No new place.
        {% endfor %}
        {% if data.nonvalidated|length != 0 %}
            <input type="submit" value="Submit">
        {% endif %}
    </form>

    <p>VALIDATED : </p>
    <form name="admin-place-validated" method="post" action="admin/remove">
        {% for line in data.validated %}
            <div class="admin-line">
                {{ line.name }}
                {{ line.latitude }}
                {{ line.longitude }}
                {{ line.address }}
                {{ line.town }}
                {{ line.country }}
                {{ line.description }}
                {{ line.website }}
                <input type="radio" name="{{ line.id }}" value="unvalidate">Unvalidate
                <input type="radio" name="{{ line.id }}" checked="checked" value="nothing">Do nothing
                <input type="radio" name="{{ line.id }}" value="delete">Delete
            </div>
        {% else %}
            No new place.
        {% endfor %}
        {% if data.validated|length != 0 %}
            <input type="submit" value="Submit">
        {% endif %}
    </form>

    <p>COMMENT UNVALIDATED : </p>
    <form name="comment-unvalidated" method="post" action="admin/comment/remove">
        {% for line in data.comments %}
            <div class="admin-line">
                {{ line.creation_date }}
                {{ line.author }}
                {{ line.avatar }}
                {{ line.content }}
                {{ line.place }}
                <input type="radio" name="{{ line.id }}" value="validate">Validate
                <input type="radio" name="{{ line.id }}" checked="checked" value="nothing">Do nothing
                <input type="radio" name="{{ line.id }}" value="delete">Delete
            </div>
        {% else %}
            No new comment.
        {% endfor %}
        {% if data.validated|length != 0 %}
            <input type="submit" value="Submit">
        {% endif %}
    </form>

{% endblock %}

{% block js %}

{% endblock %}
