{% extends 'layout/base_layout.html.twig' %}
{% set page = 'home' %}

{% block stylesheets %}{% endblock %}

{% block core %}
    <div class="settings">
        <ul>
            <li>
                <label for="api">Address <a id="address-tooltip" class="q" href="#" data-toggle="tooltip" data-placement="right" title="Spot position is not mandatory">?</a></label>
                <input type="text" value="{{ data['place'].address }}" name="address" id="addressInput">
            </li>
            <li>
                <label for="center">Spot position</label>
                <span class="weelabel">Latitude</span>
                <input name="lat" style="width:100px;" value="{{ data['place'].latitude }}" type="text" id="latitudeInput">
                <hr>
                <span class="weelabel">Longitude</span>
                <input name="lon" style="width:100px;" value="{{ data['place'].longitude }}" type="text" id="longitudeInput">
            </li>
            <li>
                <label for="maptype">Type of Hotspot</label>
                <select id="maptypecontrol" name="maptypecontrol">
                    <option selected="selected">None</option>
                    <option>Company</option>
                    <option>Public spot</option>
                </select>
            </li>
            <li>
                <button class="generate search-btn">Search</button>
            </li>
        </ul>
        <ul>
            <li><label for="center">Closest spots ({{ data['closestPlaces']|length }})</label></li>
            {% for place in data['closestPlaces'] %}
                <li>
                    <a class="weelabel clickablePlace" id="{{ place.id }}" href="#" >{{ place.name }} ({{ place.distance }} km)</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <form id="add-form">
        <div class="result">
            <div class="row">
                <div id="caract" class="col-md-6" style="display: none;">

                    <label class="subtitle">PLACE</label><br/>

                    <label class="input-type">GPS COORDINATE</label><br/>
                    <input type="text" class="form-control" name="latitude" placeholder="Latitude" id="latitudeAddInput">
                    <input type="text" class="form-control" name="longitude" placeholder="Longitude" id="longitudeAddInput">

                    <label class="input-type">ADDRESS</label><br/>
                    <input type="text" class="form-control big" name="address" placeholder="Street and number" id="addressAddInput">
                    <input type="text" class="form-control" name="country" placeholder="Country" id="countryAddInput">
                    <input type="text" class="form-control" name="town" placeholder="Town" id="townAddInput">
                </div>

                <div id="map" class="col-md-6 view"></div>
            </div>
            <div class="row">
                <div id="map-info" class="col-md-12" style="display: none;">
                    <label class="subtitle">DESCRIPTION</label><br/>

                    <input type="text" class="form-control big" name="name" placeholder="Name" id="nameAddInput">
                    <input type="text" class="form-control big" name="website" placeholder="Website" id="websiteAddInput">
                    <textarea class="form-control big" name="description" placeholder="More information" id="descriptionAddInput"></textarea>
                </div>
            </div>
        </div>
    </form>

    <div class="overlay"></div>
    <div class="infobar">
        <a id="update-hotspot" class="hotspot-button" href="#" style="display: none;">update</a>
        <a id="save-hotspot" class="hotspot-button" href="#" style="display: none;">Save</a>
        <a id="add-hotspot" class="hotspot-button" href="#">Add your Hotspot</a>
    </div>
{% endblock %}

{% block js %}
    <script src="/HotspotMap/js/index.js"></script>
    <!-- Should stay in twig file due to template replacement -->
    <script type="text/javascript">
        function initialize() {
            currentPos = new google.maps.LatLng({{ data['place'].latitude }}, {{ data['place'].longitude }});
            var mapOptions = {
                zoom: 13,
                center: currentPos,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            // Add current markers
            addBlueMarker('{{ data['place'].town }}', currentPos);

            // Add places markers
            {% for place in data['places'] %}
            addGreenMarker('{{ place.id }}', '{{ place.name }}', new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }}));
            {% endfor %}
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
